
/** 
 *@author Tharushi Welarathna <nirmanitharushi1@gmail.com> 
 *@since 10/8/2021
 */

/*header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-seri;
}
/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/

::-webkit-scrollbar {
    display: none;
}
#body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#header1 {
    overflow: hidden;
    position: fixed;
    background:#F6F6F6;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex: 1;
    backdrop-filter: blur(22px);
    width: 100%;
    order: 1;
}

#header1:nth-child(1) > :nth-child(1) {
    height: 150%;
    flex: 1;
}
#header1:nth-child(1) > :nth-child(2) {
    height: 150%;
    display: flex;
    flex: 1;
    align-items: center;
}


#header-Name{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerName-Div{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #1B2E3C;
}

#headerName{
    display: flex;
    align-items: center;
    font-size: 20px;
    width: max-content;
    float: none;
    padding: 20px;
    margin: 0 auto;
    color: aliceblue;
}


.nav_links {
    flex-direction: row;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    width: 100%;
    height: 150%;
    list-style: none;
    justify-content: center;
    margin-right: 80px;

}

.nav_links > li > a {
    text-decoration: none;
    color: black;
    padding: 16px 22px 37px 22px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;

}


.nav_links > li > a:focus {
    background: #A2D2FF;

    padding: 16px 22px 37px 22px;
}

.nav_links > li {
    display: flex;
    align-items: center;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.nav_links > li:hover {
    box-shadow: 0px 4px 0px -1px rgb(255, 255, 255);
}
/*////////////////////////////////////////////////////////////////////*/

/*.header2{*/
/*    !*height: 50px;*!*/
/*    background-color: black;*/
/*    overflow: hidden;*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*backdrop-filter: blur(22px);*!*/
/*    !*order: 1;*!*/
/*    top: 9%;*/
/*    width: 100%;*/

/*}*/
/*.header2 a {*/
/*    float: left;*/
/*    font-size: 16px;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*    margin-left: 45px;*/
/*}*/
/*.header2 > a {*/
/*    float: left;*/
/*    font-size: 16px;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*    margin-left: 95px;*/
/*}*/


/*nav{*/
/*    flex: 1;*/
/*    text-align: right;*/
/*    height: 35px;*/
/*}*/
/*nav ul{*/
/*    display: inline-block;*/
/*    list-style-type: none;*/
/*    margin-right: 40px;*/
/*    margin-top: 18px;*/
/*}*/
/*nav ul li{*/
/*    display: inline-block;*/
/*    margin-right: 20px;*/
/*    cursor: pointer;*/
/*}*/
/*.navbar {*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*    text-align: center;*/
/*}*/
/*.navbar a {*/
/*    float: left;*/
/*    font-size: 16px;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*    margin-left: 45px;*/
/*}*/
/*.dropdown {*/
/*    float: left;*/
/*    overflow: hidden;*/
/*}*/
/*.dropdown .dropbtn {*/
/*    font-size: 14px;*/
/*    border: none;*/
/*    outline: none;*/
/*    color: white;*/
/*    padding: 14px 16px;*/
/*    background-color: inherit;*/
/*    font-family: inherit;*/
/*    margin: 0;*/
/*}*/
/*.navbar .dropdown:hover .dropbtn {*/
/*    background-color: red;*/
/*}*/
/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #f9f9f9;*/
/*    min-width: 160px;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*    z-index: 1;*/
/*}*/
/*.dropdown-content a {*/
/*    float: none;*/
/*    color: #2d3436;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*    text-align: left;*/
/*}*/
/*.dropdown-content a:hover {*/
/*    background-color: #ddd;*/
/*}*/
/*.dropdown:hover .dropdown-content {*/
/*    display: block;*/
/*}*/
/*.header2{*/
/*    !*height: 50px;*!*/
/*    background-color: black;*/
/*    overflow: hidden;*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*backdrop-filter: blur(22px);*!*/
/*    !*order: 1;*!*/
/*    top: 9%;*/
/*    width: 100%;*/

/*#header2{*/
/*    width: 100%;*/
/*    height: 40%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #1B2E3C;*/
/*}*/

#header2{
    top: 9%;
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B2E3C;
}

#header2NavContainer{
    display: flex;
    flex-direction: row;
}

.nav2Div{
    margin-left: 8px;
    margin-right: 8px;
}

.nav2DivText{
    font-size: 12px;
    color: #F9F9F9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


/*//////////////home///////////////////*/

.Home {
    height: 700px;
    background-color: white;
    position: relative;
    order: 2;
    display: flex;
    overflow: hidden;
}

.homePhoto{
    position: relative;
    top: 20%;
    left: 7%;
    overflow: hidden;
}

/*/////////////aboutus//////////////*/
.aboutUs{
    height: 700px;
    background-color: white;
    position: relative;
}
.aboutPhoto{
    position: absolute;
    top: 20%;
    left: 5%;

}
.about1{
    position: absolute;
    top: 20%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about2{
    position: absolute;
    top: 31%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about3{
    position: absolute;
    top: 42%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about4{
    position: absolute;
    top: 55%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about5{
    position: absolute;
    top: 67%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about6{
    position: absolute;
    top: 71%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about7{
    position: absolute;
    top: 75%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}



/*//////////contact us//////////////*/

.ContactUs{
    height: 700px;
    background-color: white;
    position: relative;
}

.NameText{
    position: absolute;
    top: 18%;
    left: 10%;
    color: darkblue;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.NameBox{
    width: 450px;
    height: 40px;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    border: 2px solid darkblue;
    top: 23%;
    left: 8%;
}
.EmailText{
    position: absolute;
    top: 32%;
    left: 10%;
    color: darkblue;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.EmailBox{
    width: 450px;
    height: 40px;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    border: 2px solid darkblue;
    top: 37%;
    left: 8%;
}
.SubjectText{
    position: absolute;
    top: 46%;
    left: 10%;
    color: darkblue;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.SubjectBox{
    width: 450px;
    height: 40px;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    border: 2px solid darkblue;
    top: 51%;
    left: 8%;

}
.MessageText{
    position: absolute;
    top: 60%;
    left: 10%;
    color: darkblue;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.MessageBox{
    width: 450px;
    height: 150px;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    border: 2px solid darkblue;
    top: 65%;
    left: 8%;
}




.NameIcon{
    position: absolute;
    top: 18%;
    left: 8%;


}
.EmailIcon{
    position: absolute;
    top: 32%;
    left: 8%;

}
.MessageIcon{
    position: absolute;
    top: 60%;
    left: 8%;

}
.SubjectIcon{
    position: absolute;
    top: 46%;
    left: 8%;

}



.PhoneText{
    position: absolute;
    top: 11%;
    left:35%;
    color: black;
    font-size:18px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.TelText{
    position: absolute;
    top: 15%;
    left: 33%;
    color: black;
    font-size:20px;
    font-family:'Arial';
    font-weight:bold;
    cursor: default;
}
.TelIcon{
    position: absolute;
    top: 10%;
    left: 33%;

}
.EnvelopeIcon{
    position: absolute;
    top: 10%;
    left: 49%;

}
.mailText1{
    position: absolute;
    top: 11%;
    left:52%;
    color: black;
    font-size:18px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.mailText{
    position: absolute;
    top: 15%;
    left: 45%;
    color: black;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.address{
    position: absolute;
    top: 11%;
    left:72%;
    color: black;
    font-size:18px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.addressText{
    position: absolute;
    top: 15%;
    left: 65%;
    color: black;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.PlaceIcon{
    position: absolute;
    top: 10%;
    left: 70%;

}
.location{
    position: absolute;
    top: 20%;
    left: 40%;

}
.Submit{
    position: absolute;
    width: 153px;
    height: 41px;
    bottom: 6%;
    left: 8%;
    background-color: darkblue;
    color: white;
    font-family: 'Alef', sans-serif;
    z-index: 3;
    font-weight: bold;
    font-size: 18px;
    border-color: royalblue;

}
.Submit:hover{
    background-color: #56c710;
    border-color: #56c710;
}
/*///////////////////////bedRoomSuite//////////////////*/
.bedRoom{
    height: 840px;
    background-color: white;
    position: relative;

}
.bed1{
    position: absolute;
    top: 4%;
    left: 10%;
}
.bed2{
    position: absolute;
    top: 22%;
    left: 10%;
}
.bed3{
    position: absolute;
    top: 40%;
    left: 10%;
}
.bed4{
    position: absolute;
    top: 58%;
    left: 10%;
}
.bed5{
    position: absolute;
    top: 4%;
    left: 20%;
}
.bedText1{
    position: absolute;
    top: 7%;
    left: 65%;
    color: black;
    font-size: 21px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.bedText2{
    position: absolute;
    top: 14%;
    left: 68%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText3{
    position: absolute;
    top: 18%;
    left: 68%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText4{
    position: absolute;
    top: 22%;
    left: 68%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText5{
    position: absolute;
    top: 26%;
    left: 68%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText6{
    position: absolute;
    top: 30%;
    left: 68%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText7{
    position: absolute;
    top: 14%;
    left: 82%;
    color: #00A19D;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText8{
    position: absolute;
    top: 18%;
    left: 82%;
    color: #00A19D;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText9{
    position: absolute;
    top: 22%;
    left: 82%;
    color: #00A19D;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText10{
    position: absolute;
    top: 26%;
    left: 82%;
    color: #00A19D;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText11{
    position: absolute;
    top: 30%;
    left: 82%;
    color: #00A19D;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText12{
    position: absolute;
    top: 37%;
    left: 65%;
    color:black;
    font-size: 18px;
    word-spacing: 15px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.a{
    height: 45px;
    width: 1300px;
    background-color: #D5D5D5;
    position: relative;
    top:79%;
    left: 10%;
    border-color: #16191e;
    align-items: center;
    display: flex;

}
.pen{
    position: absolute;
    left: 4%;

}
.bedText13{
    position: absolute;
    left: 6%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.b{
    height: 110px;
    width: 1300px;
    background-color: #EDEDED;
    position: relative;
    top:80%;
    left: 10%;
    border-color: #16191e;
    display: flex;

}
.bedText14{
    position: absolute;
    top: 5%;
    left: 4%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;

}
.bedText15{
    position: absolute;
    top: 28%;
    left: 6%;
    color: black;
    font-size: 16px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.bedText16{
    position: absolute;
    top: 49%;
    left: 6%;
    color: black;
    font-size: 16px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.bedText17{
    position: absolute;
    top: 70%;
    left: 6%;
    color: black;
    font-size: 16px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
/*//////////////////////BEDS////////////////////////////*/
.bedShowRoom{
    height: 1000px;
    background-color: #F6F6F6;
    position: relative;

}
.Show1{
    position: absolute;
    height: 420px;
    width: 360px;
    background-color: white;
    top: 12%;
    left: 2%;

}
.Show1:hover {
    transform: scale(1.00);
    box-shadow: 1px 2px 7px 4px #bfa0a0d6;
}


.Show2{
    position: absolute;
    height: 420px;
    width: 360px;
    background-color: white;
    top: 12%;
    left: 26%;
}
.Show2:hover {
    transform: scale(1.00);
    box-shadow: 1px 2px 7px 4px #bfa0a0d6;
}
.Show3{
    position: absolute;
    height: 420px;
    width: 360px;
    background-color: white;
    top: 12%;
    left: 50%;
}
.Show3:hover {
    transform: scale(1.00);
    box-shadow: 1px 2px 7px 4px #bfa0a0d6;
}
.Show4{
    position: absolute;
    height: 420px;
    width: 360px;
    background-color: white;
    top: 12%;
    left: 74%;
}
.Show4:hover {
    transform: scale(1.00);
    box-shadow: 1px 2px 7px 4px #bfa0a0d6;
}

.Show5{
    position: absolute;
    height: 420px;
    width: 360px;
    background-color: white;
    top: 56%;
    left: 2%;

}
.Show5:hover {
    transform: scale(1.00);
    box-shadow: 1px 2px 7px 4px #bfa0a0d6;
}


.Show6{
    position: absolute;
    height: 420px;
    width: 360px;
    background-color: white;
    top: 56%;
    left: 26%;
}
.Show6:hover {
    transform: scale(1.00);
    box-shadow: 1px 2px 7px 4px #bfa0a0d6;
}
.Show7{
    position: absolute;
    height: 420px;
    width: 360px;
    background-color: white;
    top: 56%;
    left: 50%;
}
.Show7:hover {
    transform: scale(1.00);
    box-shadow: 1px 2px 7px 4px #bfa0a0d6;
}
.Show8{
    position: absolute;
    height: 420px;
    width: 360px;
    background-color: white;
    top: 56%;
    left: 74%;
}
.Show8:hover {
    transform: scale(1.00);
    box-shadow: 1px 2px 7px 4px #bfa0a0d6;
}
.image_border1{
    position: relative;
    z-index: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #866868);
    filter: drop-shadow(5px 5px 5px #d0baba);
}
.image1{
    animation: none;
    display: flex;
}
.image_border2{
    position: absolute;
    z-index: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #866868);
    filter: drop-shadow(5px 5px 5px #d0baba);
}
.image2{
    animation: none;
}
.image_border3{
    position: absolute;
    z-index: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #866868);
    filter: drop-shadow(5px 5px 5px #d0baba);
}
.image3{
    animation: none;
}
.image_border4{
    position: absolute;
    z-index: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #866868);
    filter: drop-shadow(5px 5px 5px #d0baba);
}
.image4{
    animation: none;
}
.showText1{
    position: absolute;
    top: 115%;
    left: 24%;
    color: black;
    font-size: 21px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.showText2{
    position: absolute;
    top: 130%;
    left: 25%;
    color: black;
    font-size: 15px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText3{
    position: absolute;
    top: 145%;
    left: 35%;
    color: #00A19D;
    font-size: 19px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText4{
    position: absolute;
    top: 115%;
    left: 24%;
    color: black;
    font-size: 21px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.showText5{
    position: absolute;
    top: 130%;
    left: 25%;
    color: black;
    font-size: 15px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText6{
    position: absolute;
    top: 145%;
    left: 35%;
    color: #00A19D;
    font-size: 19px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText7{
    position: absolute;
    top: 115%;
    left: 28%;
    color: black;
    font-size: 21px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}

.showText8{
    position: absolute;
    top: 130%;
    left: 26%;
    color: black;
    font-size: 15px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText9{
    position: absolute;
    top: 145%;
    left: 35%;
    color: #00A19D;
    font-size: 19px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText10{
    position: absolute;
    top: 115%;
    left: 38%;
    color: black;
    font-size: 21px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.showText11{
    position: absolute;
    top: 130%;
    left: 17%;
    color: black;
    font-size: 15px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText12{
    position: absolute;
    top: 145%;
    left: 35%;
    color: #00A19D;
    font-size: 19px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText13{
    position: absolute;
    top: 70%;
    left: 39%;
    color: black;
    font-size: 21px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}

.showText14{
    position: absolute;
    top: 79%;
    left: 36%;
    color: #00A19D;
    font-size: 19px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText16{
    position: absolute;
    top: 70%;
    left: 42%;
    color: black;
    font-size: 21px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.showText17{
    position: absolute;
    top: 80%;
    left: 15%;
    color: black;
    font-size: 16px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText18{
    position: absolute;
    top: 87%;
    left: 36%;
    color: #00A19D;
    font-size: 19px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText19{
    position: absolute;
    top: 70%;
    left: 35%;
    color: black;
    font-size: 21px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.showText20{
    position: absolute;
    top: 80%;
    left: 15%;
    color: black;
    font-size: 15px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText21{
    position: absolute;
    top: 87%;
    left: 36%;
    color: #00A19D;
    font-size: 19px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.showText22{
    position: absolute;
    top: 70%;
    left: 34%;
    color: black;
    font-size: 21px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.showText23{
    position: absolute;
    top: 79%;
    left: 37%;
    color: #00A19D;
    font-size: 19px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.msg{
    position: absolute;
    top: 6%;
    right: 3%;
    color: black;
    font-size: 14px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
/*////////dropdown//////////////*/
.dropbutton {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
}
.drop {
    position: relative;
    display: inline-block;
    top: 3%;
    left: 2%;
}
.drop-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;
}
.drop-content a:hover {
    background-color: #f1f1f1

}

.drop:hover .drop-content {
    display: block;
}

.drop:hover .dropbutton {
    background-color: #3e8e41;
}





/*////////////////////////footer/////////////////////*/
footer {
    height: 100px;
    background: #16191e;
    display: flex;
    align-items: center;
    right: 40%;
    /*justify-content: center;*/
}
.NameIcon1{
    position: absolute;
    left: 20%;
    border: 1px solid white;
}
.NameText1{
    position: absolute;
    left: 24%;
}
.EmailIcon1{
    position: absolute;
    left: 45%;
    border: 1px solid white;

}
.EmailText1{
    position: absolute;
    left: 49%;
}

footer > h3 {
    color: white;
    font-family:'Roboto', sans-seri;
    left: 30%;

}


