
/** 
 *@author Tharushi Welarathna <nirmanitharushi1@gmail.com> 
 *@since 10/8/2021
 */

/*header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-seri;
}
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}
header {
    overflow: hidden;
    position: fixed;
    background:white;
    height: 50px;
    z-index: 1;
    display: flex;
    backdrop-filter: blur(22px);
    width: 100%;
}

header:nth-child(1) > :nth-child(1) {
    height: 100%;
    flex: 1;
}
header:nth-child(1) > :nth-child(2) {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}
.nav_links > li > a {
    text-decoration: none;
    color: black;
    padding: 16px 22px 16px 22px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.header-div {
    display: flex;
    align-items: center;
    color: black;
    padding: 20px;
    font-size: 14px;
}

.nav_links > li > a:focus {
    background: #A2D2FF;
    padding: 16px 22px 16px 22px;
}

.nav_links > li {
    display: flex;
    align-items: center;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.nav_links > li:hover {
    box-shadow: 0px 4px 0px -1px rgb(255, 255, 255);
}

/*//////////////home///////////////////*/
.Home {
    height: 700px;
    background-color: white;
    position: relative;
}

.homePhoto{
    position: absolute;
    top: 8%;
    left: 7%;
}

/*/////////////aboutus//////////////*/
.aboutUs{
    height: 700px;
    background-color: white;
    position: relative;
}
.aboutPhoto{
    position: absolute;
    top: 20%;
    left: 5%;

}
.about1{
    position: absolute;
    top: 20%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about2{
    position: absolute;
    top: 31%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about3{
    position: absolute;
    top: 42%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about4{
    position: absolute;
    top: 55%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about5{
    position: absolute;
    top: 67%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about6{
    position: absolute;
    top: 71%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.about7{
    position: absolute;
    top: 75%;
    left: 53%;
    color: black;
    font-size: 17px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}



/*//////////contact us//////////////*/

.ContactUs{
    height: 700px;
    background-color: white;
    position: relative;
}

.NameText{
    position: absolute;
    top: 18%;
    left: 10%;
    color: darkblue;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.NameBox{
    width: 450px;
    height: 40px;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    border: 2px solid darkblue;
    top: 23%;
    left: 8%;
}
.EmailText{
    position: absolute;
    top: 32%;
    left: 10%;
    color: darkblue;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.EmailBox{
    width: 450px;
    height: 40px;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    border: 2px solid darkblue;
    top: 37%;
    left: 8%;
}
.SubjectText{
    position: absolute;
    top: 46%;
    left: 10%;
    color: darkblue;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.SubjectBox{
    width: 450px;
    height: 40px;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    border: 2px solid darkblue;
    top: 51%;
    left: 8%;

}
.MessageText{
    position: absolute;
    top: 60%;
    left: 10%;
    color: darkblue;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.MessageBox{
    width: 450px;
    height: 150px;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    border: 2px solid darkblue;
    top: 65%;
    left: 8%;
}




.NameIcon{
    position: absolute;
    top: 18%;
    left: 8%;


}
.EmailIcon{
    position: absolute;
    top: 32%;
    left: 8%;

}
.MessageIcon{
    position: absolute;
    top: 60%;
    left: 8%;

}
.SubjectIcon{
    position: absolute;
    top: 46%;
    left: 8%;

}



.PhoneText{
    position: absolute;
    top: 11%;
    left:35%;
    color: black;
    font-size:18px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.TelText{
    position: absolute;
    top: 15%;
    left: 33%;
    color: black;
    font-size:20px;
    font-family:'Arial';
    font-weight:bold;
    cursor: default;
}
.TelIcon{
    position: absolute;
    top: 10%;
    left: 33%;

}
.EnvelopeIcon{
    position: absolute;
    top: 10%;
    left: 49%;

}
.mailText1{
    position: absolute;
    top: 11%;
    left:52%;
    color: black;
    font-size:18px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.mailText{
    position: absolute;
    top: 15%;
    left: 45%;
    color: black;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.address{
    position: absolute;
    top: 11%;
    left:72%;
    color: black;
    font-size:18px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.addressText{
    position: absolute;
    top: 15%;
    left: 65%;
    color: black;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.PlaceIcon{
    position: absolute;
    top: 10%;
    left: 70%;

}
.location{
    position: absolute;
    top: 20%;
    left: 40%;

}
.Submit{
    position: absolute;
    width: 153px;
    height: 41px;
    bottom: 6%;
    left: 8%;
    background-color: darkblue;
    color: white;
    font-family: 'Alef', sans-serif;
    z-index: 3;
    font-weight: bold;
    font-size: 18px;
    border-color: royalblue;

}
.Submit:hover{
    background-color: #56c710;
    border-color: #56c710;
}
/*///////////////////////bedRoomSuite//////////////////*/
.bedRoom{
    height: 840px;
    background-color: white;
    position: relative;

}
.bed1{
    position: absolute;
    top: 4%;
    left: 10%;
}
.bed2{
    position: absolute;
    top: 22%;
    left: 10%;
}
.bed3{
    position: absolute;
    top: 40%;
    left: 10%;
}
.bed4{
    position: absolute;
    top: 58%;
    left: 10%;
}
.bed5{
    position: absolute;
    top: 4%;
    left: 20%;
}
.bedText1{
    position: absolute;
    top: 7%;
    left: 65%;
    color: black;
    font-size: 21px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;
}
.bedText2{
    position: absolute;
    top: 14%;
    left: 68%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText3{
    position: absolute;
    top: 18%;
    left: 68%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText4{
    position: absolute;
    top: 22%;
    left: 68%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText5{
    position: absolute;
    top: 26%;
    left: 68%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText6{
    position: absolute;
    top: 30%;
    left: 68%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText7{
    position: absolute;
    top: 14%;
    left: 82%;
    color: #00A19D;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText8{
    position: absolute;
    top: 18%;
    left: 82%;
    color: #00A19D;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText9{
    position: absolute;
    top: 22%;
    left: 82%;
    color: #00A19D;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText10{
    position: absolute;
    top: 26%;
    left: 82%;
    color: #00A19D;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText11{
    position: absolute;
    top: 30%;
    left: 82%;
    color: #00A19D;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.bedText12{
    position: absolute;
    top: 37%;
    left: 65%;
    color:black;
    font-size: 18px;
    word-spacing: 15px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;
}
.a{
    height: 45px;
    width: 1300px;
    background-color: #D5D5D5;
    position: relative;
    top:79%;
    left: 10%;
    border-color: #16191e;
    align-items: center;
    display: flex;

}
.pen{
    position: absolute;
    left: 4%;

}
.bedText13{
    position: absolute;
    left: 6%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.b{
    height: 110px;
    width: 1300px;
    background-color: #EDEDED;
    position: relative;
    top:80%;
    left: 10%;
    border-color: #16191e;
    display: flex;

}
.bedText14{
    position: absolute;
    top: 5%;
    left: 4%;
    color: black;
    font-size: 18px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: default;

}
.bedText15{
    position: absolute;
    top: 28%;
    left: 6%;
    color: black;
    font-size: 16px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.bedText16{
    position: absolute;
    top: 49%;
    left: 6%;
    color: black;
    font-size: 16px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}
.bedText17{
    position: absolute;
    top: 70%;
    left: 6%;
    color: black;
    font-size: 16px;
    word-spacing: 5px;
    font-family: 'Arial';
    font-weight: normal;
    cursor: default;

}

/*////////////////////////footer/////////////////////*/
footer {
    height: 100px;
    background: #16191e;
    display: flex;
    align-items: center;
    right: 40%;
    /*justify-content: center;*/
}
.NameIcon1{
    position: absolute;
    left: 20%;
}
.NameText1{
    position: absolute;
    left: 24%;
}
.EmailIcon1{
    position: absolute;
    left: 45%;
}
.EmailText1{
    position: absolute;
    left: 49%;
}

footer > h3 {
    color: white;
    font-family:'Roboto', sans-seri;
    left: 30%;

}


